body {
  background-image:url('../img/connectwork.png');
}

#header {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  text-align: center;
}

#main-container {
  background: white;
  padding: 3rem;
}

#footer {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  text-align: center;
}

#pizza-customizer {
  display: none;
}

#results {
  display: none;
  text-align: center;
}

#toppings {
  background: lightgoldenrodyellow;
  padding: 10px;
  border: 2px solid goldenrod;
}

#toppings .col-md-2 {
  padding: 5px;
  text-align: center;
}

#toppings h3 {
  background: black;
  color: white;
  padding: 10px;
  text-transform: uppercase;
}

.selected-topping {
  background: white;
  border: 2px dashed black;
}

#add-to-cart {
  margin-top: 3rem;
  width: 100%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: white;
  border: 1px solid #eea236;
  border-bottom: 0px;
  font-weight: 700;
  border-radius: 10px 10px 0 0;
  background: #eea236;
}

.nav-pills>li>a {
  border-radius: 10px 10px 0 0;
  background: gray;
  font-weight: 700;
  color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
  border-radius: 10px 10px 0 0;
  background: #eea236;
  font-weight: 700;
  color: white;
}

.nav-pills a {
  color: #eea236;
}

#toppings .row {
  margin-left: 0;
  margin-right: 0;
}

.radio {
  display: inline-block;
  margin-right: 15px;
}

.size-buttons {
  margin-bottom: 10px;
}

.size-buttons p{
  margin-bottom: 0;
}

#size-selector h3 {
  margin-top: 0;
}

#dynamic-toppings {
  background: black;
  color: white;
}

#footer {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
}
