body {
  background-image:url('../img/connectwork.png');
}

#header {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  text-align: center;
}

#main-container {
  background: white;
  padding: 20px;
}

#footer {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  text-align: center;
}

#pizza-customizer {
  display: none;
}

#results {
  display: none;
}
